### Importing modules

In [24]:
import pandas as pd
# import missingno as msno

### Loading Dataset

In [25]:
df = pd.read_excel('G1.xlsx')

df

,FldFileNumberPatient,f_job,m_job,f_age,m_age,f_educational_level,m_educational_level
0,H_10062,خانه دار,آزاد,34,39,متوسطه,راهنمایی
1,H_12609,خانه دار,باطري ساز,48,47,راهنمایی,راهنمایی
2,H_19230,خانه دار,باطري ساز,33,37,دانشجوی کاردانی,دانشجوی کاردانی
3,H_19354,خانه دار,راننده,34,41,متوسطه,راهنمایی
4,H_27444,خانه دار,نظامي,39,42,متوسطه,دانشجوی کاردانی
...,...,...,...,...,...,...,...
4285,W_9451,خانه دار,آزاد,39,40,متوسطه,راهنمایی
4286,W_9885,خانه دار,آزاد,31,39,ابتدایی,ابتدایی
4287,W2_39218,خانه دار,آزاد,33,31,راهنمایی,راهنمایی
4288,W2_51997,خانه دار,آزاد,40,43,کاردانی,دانشجوی کاردانی
4289,؟؟؟؟؟؟,خانه دار,آزاد,34,33,دانشجوی کاردانی,متوسطه

### EDA

In [26]:
# df.shape
# df.describe()
# df.info()

# msno.bar(df)

df.isnull().sum()

FldFileNumberPatient     0
f_job                    0
m_job                    0
f_age                    0
m_age                    0
f_educational_level     26
m_educational_level     40
dtype: int64

### Remove NULLs

In [27]:
df.dropna(inplace=True)

### Remove unnecessary columns

In [28]:
df.drop('FldFileNumberPatient' , axis=1, inplace=True)

df

,f_job,m_job,f_age,m_age,f_educational_level,m_educational_level
0,خانه دار,آزاد,34,39,متوسطه,راهنمایی
1,خانه دار,باطري ساز,48,47,راهنمایی,راهنمایی
2,خانه دار,باطري ساز,33,37,دانشجوی کاردانی,دانشجوی کاردانی
3,خانه دار,راننده,34,41,متوسطه,راهنمایی
4,خانه دار,نظامي,39,42,متوسطه,دانشجوی کاردانی
...,...,...,...,...,...,...
4285,خانه دار,آزاد,39,40,متوسطه,راهنمایی
4286,خانه دار,آزاد,31,39,ابتدایی,ابتدایی
4287,خانه دار,آزاد,33,31,راهنمایی,راهنمایی
4288,خانه دار,آزاد,40,43,کاردانی,دانشجوی کاردانی
4289,خانه دار,آزاد,34,33,دانشجوی کاردانی,متوسطه